# Operator

Operator simbol yang didapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.

Tipe tipe operator:
1. Operator Aritmatika
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

# Operator Aritmatika

Operator Aritmatika digunakan untuk melakukan operasi matematika yang umum.

Macam macam Operator Aritmaika, yaitu:

In [ ]:
+  : Penjumlahan
-  : Pengurangan
*  : Perkalian
/  : Pembagian
%  : Modulus
** : Perpangkatan
// : Pembagian dengan hasil pembulatan flooring

# Contoh Penggunaan Operator Aritmatika

In [ ]:
#penjumlahan
print('Penjumlahan')
# Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)
# Perkalian
print('Perkalian')
print('-'*20)
print(2*3)
#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)
# Modulus
print('Modulus')
print('-'*20)
print(3%2)
# Perpangkatan
print('-'*20)
print(2**3)
# Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

Penjumlahan
Pengurangan
--------------------
-1
Perkalian
--------------------
6
Pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
--------------------
8
Pembagian pembulatan flooring
--------------------
1

# Latihan Operator 1

In [ ]:
# Buatlah Program penerapan operator Aritmatika

In [ ]:
# dengan nilai-nilai yang berbeda dari contoh di atas

Jawaban

In [1]:
#penjumlahan
print('Penjumlahan')
print('-'*20)
print(3+7)
# Pengurangan
print('Pengurangan')
print('-'*20)
print(10-8)
# Perkalian
print('Perkalian')
print('-'*20)
print(4*8)
#Pembagian
print('Pembagian')
print('-'*20)
print(12/3)
# Modulus
print('Modulus')
print('-'*20)
print(4%3)
# Perpangkatan
print('Perpangkatan')
print('-'*20)
print(10**2)
# Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(7//2)

Penjumlahan
--------------------
10
Pengurangan
--------------------
2
Perkalian
--------------------
32
Pembagian
--------------------
4.0
Modulus
--------------------
1
Perpangkatan
--------------------
100
Pembagian pembulatan flooring
--------------------
3

# Operator Assignment

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

In [ ]:
= : Contohnya x = 5 -> x = 5
+= : Contohnya x = x + 5 -> x += 5
-= : Contohnya x = x - 5 -> x -= 5
*= : Contohnya x = x * 5 -> x *= 5
/= : Contohnya x = x / 5 -> x /= 5
%= : Contohnya x = x % 5 -> x %= 5
//= : Contohnya x = x // 5 -> x //= 5
**= : Contohnya x = x ** 5 -> x **= 5

# Contoh Penggunaan Operator Assignment

In [ ]:
#penjumlahan
print('Penjumlahan')
x=(5)
x=x+5
print(x)
x=5
x+=5
print(x)
print('-'*20)

# Pengurangan
print('Pengurangan')
x=5
x=x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

# Perkalian
print('Perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

# Pembagian
print('Pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

# Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

# Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

# Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
Pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatan
3125
125
--------------------

# Latian Operator 2

In [ ]:
# Buatlah program penerapan operator assignment

In [ ]:
# dengan nilai nilai yang berbeda dari contoh di atas

Jawaban

In [2]:
#penjumlahan
print('Penjumlahan')
x=(7)
x=x+7
print(x)
x=7
x+=7
print(x)
print('-'*20)

# Pengurangan
print('Pengurangan')
x=3
x=x-3
print(x)
x=3
x-=3
print(x)
print('-'*20)

# Perkalian
print('Perkalian')
x=8
x=x*8
print(x)
x=8
x*=8
print(x)
print('-'*20)

# Pembagian
print('Pembagian')
x=10
x=x/10
print(x)
x=10
x/=10
print(x)
print('-'*20)

# Modulus
print('Modulus')
x=7
x=x%7
print(x)
x=7
x%=3
print(x)
print('-'*20)

# Pembagian Flooring
print('Pembagian Flooring')
x=8
x=x//8
print(x)
x=8
x//=4
print(x)
print('-'*20)

# Perpangkatan
print('Perpangkatan')
x=6
x=x**6
print(x)
x=6
x**=3
print(x)
print('-'*20)

Penjumlahan
14
14
--------------------
Pengurangan
0
0
--------------------
Perkalian
64
64
--------------------
Pembagian
1.0
1.0
--------------------
Modulus
0
1
--------------------
Pembagian Flooring
1
2
--------------------
Perpangkatan
46656
216
--------------------

# Operator Pembanding

Operator Pembanding digunakan untuk membandingkan 2 niai atau variabel

Macam macam Operator pembanding:

In [ ]:
== -> samadengan
!= -> tidak samadengan
> -> lebih dari
< -> kurang dari
>= lebih dari dan samadengan
<= kurang dari dan samadengan

# Contoh penggunaan operator pembanding

In [ ]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

# Latihan Operator 3

In [ ]:
# Buatlah program penerapan operator pembanding

In [ ]:
# dengan nilai nilai yang berbeda dari contoh di atas

Jawaban

In [ ]:
print(7==3)
print(10!=8)
print(3>5)
print(2<9)
print(13>=6)
print(1<=0)

False
True
False
True
True
False

# Operator Logika

Operator logika digunakan untuk mengkombinasikan statment kondisional.

Macam macam operator logika:

In [ ]:
and -> kondisi menjadi benar apabila semua statementnya benar
or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar
not -> membalik hasil dari benar ke salah dan salah ke benar

# Contoh penggunaan operator logika

In [ ]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

# Latihan Operator 4

In [ ]:
# Buatlah program penerapan operator logika

In [ ]:
# dengan nilai nilai yang berbeda dar contoh di atas

Jawaban

In [ ]:
print(False and True)
print(True or True)
print(not False or True)

False
True
True

# Operator Membership / Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam bentuk objek.

Macam macam operator Keanggotaan:

In [ ]:
in      -> return True ketika nilai tertentu dalam sebuah urutan ada
not in  -> return True ketika nilai tertentu dalam sebuah urutan tidak ada

# Contoh penggunaan operator keanggotaan

In [ ]:
a=(1,2,3,4,5,6)
b=2

print(b in a)

print('-'*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

# Latihan Operator 5

In [ ]:
# Buatlah program penerapan operator keanggotaan membership

In [ ]:
# dengan nilai nilai yang berbeda dari contoh di atas

Jawaban

In [ ]:
a=(1,3,5,7,8,9,10)
b=3

print(b in a)

print('-'*20)
a=(1,3,5,7,9)
b=5
print(b not in a)

True
--------------------
False

# Variabel

Variabel: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat syarat penamaan variabel
1. Karakter-karakter yang digunakan untuk penamaan variabel adalah alphabet, angka dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if, dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif).

In [ ]:
# Membuat variabel
kalimat ='ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# Menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

# Latihan 1

In [ ]:
# buatlah 5 variabel kalian sendiri dengan 5 macam tipe data

In [ ]:
# lalu tampilkan variabel menggunakan fungsi print

Jawaban

In [3]:
# membuat variable
kalimat = 'ini adalah variabel'
bilangan5 = 3
bilangan6 = 1.5
bilangan7 = True
bilangan8 = 7j + 3

In [4]:
# Menampilkan variabel
print(kalimat)
print(bilangan5)
print(bilangan6)
print(bilangan7)
print(bilangan8)

ini adalah variabel
3
1.5
True
(3+7j)

# Tipe Data & Konversi Tipe Data

#Tipe Data

5 tipe data yaitu

1. integer atau bilangan bulat
2. float atau bilangan desimal
3. string atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# Menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

# Latihan 2

In [ ]:
# cek tipe data variabel yang telah kalian buat pada latihan 1

Jawaban

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan5))
print(type(bilangan6))
print(type(bilangan7))
print(type(bilangan8))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

# Konversi Tipe Data

In [ ]:
# Konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
# Konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [ ]:
# Konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
A = str(bilangan1)
B = str(bilangan2)
print(A+B)

42.5

In [ ]:
# Konersi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
# Konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

# Latihan 3

In [ ]:
# konversi tipe data yang telah kalian buat

In [ ]:
# menjadi berbagai macam tipe data

Jawaban

In [ ]:
# Konversi tipe data integer
print(int(bilangan6))
print(int(bilangan7))

1
1

In [7]:
# Konversi tipe data float
print(float(bilangan5))
print(float(bilangan7))

3.0
1.0

In [ ]:
# Konversi tipe data string
print(str(bilangan5))
print(str(bilangan6))
print(str(bilangan7))

3
1.5
True

In [ ]:
# Konersi tipe data bool
print(bool(bilangan5))
print(bool(bilangan6))

True
True

In [5]:
# Konversi tipe data complex
print(complex(bilangan5))
print(complex(bilangan6))
print(complex(bilangan8))

(3+0j)
(1.5+0j)
(3+7j)